<!-- Footer -->
<div class="footer">
    <!-- Footer Top -->
    <div id="footer" class="container-fluid paddingbottom"  >


        <div class="row">

            <!-- About -->
            <div class="col-md-4">
                <div class="footer-headline"><h4>About Us</h4></div>
                <p>Softtopia is an open source company. We're software engineers, architects and specialists.</p>
                <img src="images/logo-small.png" class="client-logo">
            </div>
        </div>

    </div>
    <!-- Footer / Bottom -->
    <div class="container-fluid" style="background: #111;padding:4px;text-align: center;">
        <div class="row">
            <div class="col-md-12">
                <div id="footer-bottom">
                    © Copyright 2012 by <a href="#">Softtopia</a>. All rights reserved.

                    <div id="scroll-top-top"><a href="#" title="Go to Top"></a></div>
                </div>
            </div>
        </div>
        <!-- <li class="dropdown pointer" ng-controller="LanguageController">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                            <span>
                                <span class="glyphicon glyphicon-flag"></span>
                                <span class="hidden-tablet" translate="global.menu.language">Language</span>
                                <b class="caret"></b>
                            </span>
            </a>
            <ul class="dropdown-menu">
                <li data-active-menu="{{key}}" data-ng-repeat="(key, language) in languages">
                    <a href="javascript:;" ng-click="changeLanguage(key)">{{language}}</a>
                </li>
            </ul>
        </li> -->

    </div>
</div>
