<!-- Header -->
<div class="row" id="header">
    <!-- Logo -->
    <div class="col-md-7">
        <a href="#"><img src="images/logo.png" alt="logo" /></a>
    </div>

    <!-- Social / Contact -->
    <div class="col-md-5 pull-right">
        <!-- Social Icons -->
        <ul class="social-icons">
            <li class="facebook"><a href="http://www.facebook.com/jordi.fernandez.3597">Facebook</a></li>
            <li class="twitter"><a href="http://witter.com/jordiferm">Twitter</a></li>
            <li class="linkedin"><a href="http://es.linkedin.com/pub/jordi-fern%C3%A0ndez/1b/675/5/">LinkedIn</a></li>
            <li class="pintrest"><a href="http://pinterest.com/jordifm/">Pintrest</a></li>
            <li class="googleplus"><a href="http://plus.google.com/u/0/101299402231531231596"></a></li>
            <!--<li class="delicious"><a href="http://delicious.com/jordifm"></a><i>-->
            <li class="evernote"><a href="http://www.evernote.com/pub/jordiferm/public"></a><li>
            <li class="skype"><a href="skype:jordi.softtopia?call"></a><li>
        </ul>
        <!-- Contact Details -->
        <div id="contact-top">
            <ul>
                <li><i class="icon-envelope"></i><a href="#">j@softtopia.com</a></li>
                <li><i class="icon-user"></i>+34 633 271 065</li>
            </ul>
        </div>
    </div>
</div>
<!-- Header / End -->
