<div class="row">
    <div class="col-md-8">
        <div class="headline"><h3>About me</h3></div>

        <div class="row">
            <div class="col-md-4">
                <img src="https://media.licdn.com/media/p/1/000/0a8/23e/07b8c92.jpg" alt="" class="img-circle"/>
                <div class="staff"><h5>Jordi Fernàndez Monteis</h5> <span>Senior Software Engineer at Hp CDS</span><span><i class="icon-envelope"></i>&nbsp;j@softtopia.com</span></div>
            </div>
            <div class="col-md-8">
                <div class="team-about">
                    <p>Application developer, software engineer, and software architect with 20+ years of experience in a wide variety of business applications.</p>
                    <p>I come from low level school from C and C++. I have been working for 10+ years in C++, developing drivers and also native multi plattform front-ends for: GNU/Linux, Windows, MacOSX.</p>
                    <p>I'm currently working mostly as a backend engineer, developing Business applications and coaching in code quality techniques. But I'm also good writing native and web front ends  technologies like AngularJS and HTML5 or Qt and WPF.</p>
                </div>
                <ul class="plus_list">
                    <li>I'm proactive and I love my job</li>
                    <li>I've been working for big companies and also for start-ups, focusing them to the most productive technologies.</li>
                    <li>My experience comprises of analyzing and coding, factorizing and doing code reviews, building heterogeneous systems, writing unit tests, improve the continuous integration process, releasing and launching in a wide variety of scopes, getting feedback from users, and building Apis to increase productivity.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="headline"><h4>Checkout my</h4></div>
        <ul class="arrow_list">
            <li><a  href="https://www.linkedin.com/pub/jordi-fern%C3%A0ndez/1b/675/5" target="_blank">LinkedIn Profile</a></li>
            <li><a  href="#" target="_blank">Google+ Profile</a></li>

        </ul>
        <div class="headline"><h4>Skills</h4></div>
        <ul class="plus_list skills">
            <li><a class="btn btn-primary btn-xs" href="http://en.wikipedia.org/wiki/C%2B%2B" target="_blank">C++</a></li>
            <li><a class="btn btn-primary btn-xs" href="http://en.wikipedia.org/wiki/Java" target="_blank">Java</a></li>
            <li><a class="btn btn-primary btn-xs" href="http://en.wikipedia.org/wiki/.NET_Framework" target="_blank">.NET</a></li>
            <li><a class="btn btn-primary btn-xs" href="https://angularjs.org/" target="_blank">Angular</a></li>
            <li><a class="btn btn-primary btn-xs" href="http://www.mongodb.org/" target="_blank">MongoDB</a></li>
        </ul>
    </div>
</div>