<div>

    <h2>Projects</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveProjectModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Project
    </button>
    <div class="modal fade" id="saveProjectModal" tabindex="-1" role="dialog" aria-labelledby="myProjectLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      >

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myProjectLabel">Create or edit a Project</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="project.id" readonly>
                        </div>
                        <div class="form-group">
                            <label>name</label>
                            <input type="text" class="form-control"
                                   ng-model="project.name">
                        </div>
                        <div class="form-group">
                            <label>group</label>
                            <ui-select ng-model="project.projectGroup" theme="bootstrap" ng-disabled="disabled" style="width: 300px;">
                                <ui-select-match placeholder="Select projectGroup...">{{$select.selected.description}}</ui-select-match>
                                <ui-select-choices repeat="projectGroup in projectGroups | filter: $select.search">
                                    <span ng-bind="projectGroup.description | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label>description</label>
                            <input type="text" class="form-control"
                                   ng-model="project.description">
                        </div>
                        <div class="form-group">
                            <label>picture</label>
                            <input type="text" class="form-control"
                                   ng-model="project.picture">
                        </div>
                        <div class="form-group">
                            <label>dateCreated</label>
                            <input type="date" class="form-control"
                                   ng-model="project.dateCreated">
                        </div>
                        <div class="form-group">
                            <label>dateFinished</label>
                            <input type="date" class="form-control"
                                   ng-model="project.dateFinished">
                        </div>
                        <div class="form-group">
                            <label>longDescription</label>
                            <input type="text" class="form-control"
                                   ng-model="project.longDescription">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button ng-click="create()" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>name</th>
                    <th>description</th>
                    <th>picture</th>
                    <th>dateCreated</th>
                    <th>dateFinished</th>
                    <th>longDescription</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="project in projects">
                    <td>{{project.id}}</td>
                    <td>{{project.name}}</td>
                    <td>{{project.description}}</td>
                    <td>{{project.picture}}</td>
                    <td>{{project.dateCreated}}</td>
                    <td>{{project.dateFinished}}</td>
                    <td>{{project.longDescription}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(project.id)"
                                class="btn">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="delete(project.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
