<div class="row">
    <!-- Page Title -->
    <div id="page-title" >
        <h2>Project <span>/ {{project.description}}</span></h2>
    </div>
    <!-- Page Title / End -->
</div>

<div class="row" >


    <div class="col-md-8">
        <div class="post post-page">
            <div class="post-content">
                <div ng-bind-html="projectBody.content"></div>
            </div>
            <!-- <div class="post-img picture"><a href="images/blog-img-01-large.jpg" rel="image" title="Beatiful Mountain Ladscape"><img src="images/blog-img-01.jpg" alt="" /><div class="image-overlay-zoom"></div></a></div>

            <div class="post-content">
                <div class="headline"><h4><a href="blog_post.html">This is a Project with preview picture</a></h4></div>
                <div class="post-meta"><span><i class="icon-calendar"></i>On 10 August, 2012</span> <span><i class="icon-user"></i>By <a href="#">admin</a></span> <span><i class="icon-comment"></i>With <a href="#">5 Comments</a></span></div>
                <div class="post-description">
                    <p>Maecenas dolor est, interdum a euismNod eu, accumsan posuere nisl. Nam sed iaculis massa. Sed nisl lectus, tempor sed euismod quis, sollicitudin nec est. Suspendisse dignissim bibendum tempor. Nam erat felis, commodo sed semper commodo vel mauris suspendisse dignissim bibendum tempus.</p>
                    <p>Sed auctor, sem et volutpat facilisis, risus leo venenatis leo, ultricies accumsan urna ante vel nisl. Integer feugiat risus nec nisl dictum vestibulum. Vestibulum nec purus orci. Mauris ornare dolor eget purus malesuada vitae convallis dui dapibus. Donec sed leo magna, ac pellentesque lorem. Vivamus sapien tortor, lobortis ut ultrices vel, tempus non metus. Suspendisse id est id elit commodo pellentesque non non lorem. Aenean sed blandit sapien. Nullam risus sapien, dignissim tempor auctor non, porta congue mi. </p>
                    <blockquote>Mauris aliquet ultricies ante, non faucibus ante gravida sed. Sed ultrices pellentesque purus, vulputate volutpat ipsum hendrerit sed neque sed sapien rutrum laoreet justo ultrices. In pellentesque lorem condimentum dui conse. Vivamus semper, mi sed congue semper, odio felis tristique neque, ac venenatis mauris augue. </blockquote>
                    <p>Cras varius enim ac tellus gravida aliquet. Praesent nec ante odio, at egestas lorem. Phasellus nec velit sit amet leo pellentesque tempor. Vivamus molestie fringilla nulla, at egestas magna tempor nec. Suspendisse potenti. Vivamus metus massa, viverra sit amet bibendum ac, consequat porta sem. Nullam venenatis faucibus sem. Donec non mi et felis iaculis tempor sed at dolor. </p>

                    <p>{{params}}</p>

                </div>
            </div> -->
        </div>

    </div>

<!--    <div class="col-md-4">
        <div class="headline no-margin"><h4>Project Details</h4></div>
        <ul class="plus_list">
            <li>Quick and convenient Localization Support</li>
            <li>Compatible with the latest W3C standards</li>
            <li>Flexible, Responsive Layout</li>
            <li>Compatible with Major Browsers</li>
            <li>Attuned to Smartphones and Tablet PCs</li>
        </ul>

        <div class="well margintop">
            <button type="button" class="btn btn-inverse btn-block" >Launch Project</button>
            <button type="button" class="btn  btn-block" >Quote Similar Project</button>
        </div>

        <div class="widget marginbottom">
            <div class="headline"><h4>Project Tags</h4></div>
            <div class="tags">
                <span class="label">Business</span>
                <span class="label">Photography</span>
                <span class="label">Editorial</span>
                <span class="label">News</span>
                <span class="label">Blog</span>
                <span class="label">Opportunity</span>

            </div>
        </div>

        <div class="headline"><h4>Client Address</h4></div>
        <address>
            <strong>Centum, Inc.</strong><br>
            200 Inviara Ave, Suite 600<br>
            San Francisco, CA 253362<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
    </div> -->

</div>